name: Lint

on:
  pull_request:
  push:
    branches:
    - main

env:
  CARGO_TERM_COLOR: always

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo +nightly fmt --all -- --check
    - run: cargo lint
    - run: cargo test -p otty --test widget_conventions_ast --locked --all-features
